---
import Layout from "../layouts/Layout.astro";
---

<Layout title="NFT Preview Card">
	<main class=" w-full h-screen bg-very-dark-blue-main-bg grid place-items-center font-outfit">
		<div class="min-w-[300px] w-80 desktop:w-[350px] min-h-[500px] bg-very-dark-blue-card-bg p-6 rounded-2xl flex flex-col space-y-6">

			<picture class="icon-view w-full desktop:hover:cursor-pointer after:absolute after:w-full after:h-full relative after:-translate-y-full after:content-[url('/images/icon-view.svg')] after:bg-opacity-50 after:bg-cyan after:opacity-0 desktop:after:hover:opacity-100 after:transition-opacity after:duration-500">
				<img src="/images/image-equilibrium.jpg" alt="multicolor cube" class="w-full rounded-lg">
			</picture>

			<div class="w-full h-full text-soft-blue">
				<div class="space-y-4">
					<h1>
						<a href="#" class="text-white font-extrabold text-[21px] transition-colors duration-500 tracking-wide desktop:hover:text-cyan">Equilibrium #3429</a>
					</h1>
					<p class="leading-7 font-light desktop:font-normal">
						Our Equilibrium collection promotes balance and calm.
					</p>
				</div>
				<div class="flex justify-between w-full py-4 border-b border-very-dark-blue-line">
					<span class="text-cyan font-black before:w-5 before:h-5 before:block before:content-[url('/images/icon-ethereum.svg')] flex items-center text-sm">0.041 ETH</span>
					<span class="before:w-5 before:h-5 before:block before:content-[url('/images/icon-clock.svg')] flex items-center before:mr-1">3 days left</span>
				</div>
				<div class="flex pt-6 items-center desktop:pb-4">
					<img src="/images/image-avatar.png" alt="Avatar icon" class="w-8 h-8 ring-1 ring-white rounded-full mr-4">
					<p>Creation of <a href="#" class="text-white desktop:hover:text-cyan transition-colors duration-500">Jules Wyvern</a> </p>
				</div>
			</div>
		</div>
	</main>
</Layout>

<style>
	:root {
		--soft-blue: #8cacd9;
		--cyan: #00fff7;
		--very-dark-blue-main-bg: #0d192b;
		--very-dark-blue-card-bg: #14253d;
		--very-dark-blue-line: #2f415b;
		--white: #ffffff;
		--font-outfit: 'Outfit', sans-serif;
	}

	.icon-view::after {
		display:grid;
		place-items: center;
	}
	
</style>
